// Primary/body text
$mainFont: "Nunito", sans-serif;
$mainFontSize: 36px;

// Vertical spacing between blocks of text
$blockMargin: 36px;

// Headings
$headingMargin: $blockMargin 0;
$headingFont: $mainFont;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: bold;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1em;

$codeFont: 'Source Code Pro', monospace;
